.sidebar {

    height:100vh;

    overflow:hidden;

    position:sticky;

    top:0;

    background:
        linear-gradient(
            180deg,
            #081120,
            #18263d
        );

    padding: 18px;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    overflow: hidden;
}

/* HEADER */

.sidebar-header {

    text-align: center;

    margin-bottom: 25px;
}

.sidebar-logo {

    width: 90px;

    height: 90px;

    margin: auto;

    border-radius: 28px;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 40px;

    background:
        linear-gradient(
            135deg,
            #4f46e5,
            #7c3aed
        );

    margin-bottom: 15px;
}

.sidebar-title {

    color: white;

    font-size: 18px;

    font-weight: 700;

    margin-bottom: 5px;
}

.sidebar-subtitle {

    color: #94a3b8;

    font-size: 13px;
}

/* PROFILE */

.manager-profile {

    display: flex;

    align-items: center;

    gap: 10px;

    background:
        rgba(255,255,255,.08);

    padding: 12px;

    border-radius: 16px;

    margin-bottom: 20px;
}

.manager-avatar {

    width: 45px;

    height: 45px;

    border-radius: 50%;

    flex-shrink: 0;
}

.manager-profile h6 {

    color: white;

    margin: 0;

    font-size: 15px;

    font-weight: 600;
}

.manager-profile small {

    color: #94a3b8;

    font-size: 12px;
}

/* MENU */

.sidebar-menu {

    display: flex;

    flex-direction: column;

    gap: 10px;
}

.sidebar-link {

    border: none;

    width: 100%;

    display: flex;

    align-items: center;

    gap: 12px;

    padding: 13px 15px;

    border-radius: 14px;

    background: transparent;

    color: #e2e8f0;

    font-size: 15px;

    font-weight: 600;

    transition: .3s;
}

.sidebar-link i {

    font-size: 18px;

    width: 20px;
}

.sidebar-link:hover {

    background:
        rgba(79,70,229,.15);

    color: white;
}

.sidebar-link.active {

    background:
        linear-gradient(
            135deg,
            #4f46e5,
            #7c3aed
        );

    color: white;

    box-shadow:
        0 8px 20px rgba(79,70,229,.35);
}

/* FOOTER */

.sidebar-footer {

    margin-top: 10px;
}

.logout-btn {

    width: 100%;

    border: none;

    padding: 10px;

    border-radius: 12px;

    background:
        linear-gradient(
            135deg,
            #ef4444,
            #dc2626
        );

    color: white;

    font-size: 13px;

    font-weight: 600;

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 8px;
}

.logout-btn i {

    font-size: 13px;
}